/* universal styles */

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

.half-width {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

a.btn {
    background-color: #e12c6d;
    text-decoration: none;
    padding: 5px 21px;
    color: white;
    border-radius: 47px;
}


/* header styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* nav {
order: -1;
} */

nav {
    display: flex;
}

nav ul {
    display: inline;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}


/* heading section */

.heading-section h1 {
    font-size: 47px;
    font-weight: 700;
}

.heading-section p {
    margin-bottom: 10px;
}

.heading-section a {
    margin-bottom: 1rem;
}

.heading-section p {
    padding: 10px 0;
}