/* universal styles */

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* header styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* nav {
    order: -1;
} */

nav ul {
    display: inline;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}