/*===========================
    universal styles
==============================*/

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

.half-width {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.one-third {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

a.btn {
    background-color: #e12c6d;
    text-decoration: none;
    padding: 5px 21px;
    color: white;
    border-radius: 47px;
}


/*===========================
        header styles
    ===========================*/

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-weight: bold;
}

input {
    display: none;
}

nav ul {
    list-style-type: none;
}


/*=============================
        heading section 
==============================*/

.heading-section-img {
    display: flex;
    justify-content: center;
}

.heading-section h1 {
    font-size: 47px;
    font-weight: 700;
}

.heading-section a {
    margin-bottom: 1rem;
}

.heading-section p {
    padding: 20px 0;
}

.heading-section img {
    width: 80%;
    margin-left: 10px;
}

.heading-section img:hover {
    transform: rotate(60deg);
    transition: 1s ease;
}


/*=================================
        companies section 
==================================*/

.companies .container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem 0;
    align-items: center;
}

.companies .container img {
    width: 9%;
    margin: 0 25px;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
}


/*================================ 
    Popular Collections Section 
=================================*/

.popular-collection {
    padding: 4rem 0;
}

.popular-collection h3 {
    text-align: center;
}

.card {
    margin: 1rem 0.8rem;
    border-radius: 8px;
    box-shadow: 0 0 15px #333;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 0 5px #333;
    transition: 400ms ease-in;
}

.popular-collection a.see-more {
    color: #e12c6d;
    display: flex;
    align-items: center;
    justify-content: end;
}


/*==============================
    featured product section 
================================*/

.featured-products {
    padding: 4rem 0;
}

.featured-products img {
    width: 75%;
    border-radius: 7px;
}

.featured-products p {
    padding: 20px 0;
}

.featured-products a.btn {
    border-radius: 0;
}


/*============================
        Footer section
============================== */

footer {
    text-align: center;
    color: white;
    background-color: #100027;
    padding: 3rem 0;
}

footer h2 {
    font-weight: bold;
}

.social {
    background-color: #26183c;
    text-decoration: none;
    color: white;
    padding: 4px 9px;
    border-radius: 50%;
}


/* Media Queries */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .fa-bars {
        margin-left: 10px;
    }
    header {
        margin: 0 10px;
    }
    .fa-shopping-cart {
        margin-right: 10px;
    }
    .heading-section {
        margin: 0 10px;
    }
    .half-width {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .one-third {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .logo {
        order: 1;
        margin: 0 auto;
    }
    nav {
        transition: 1s;
    }
    nav ul {
        display: none;
        position: absolute;
        background: #fff;
        width: 100%;
    }
    nav ul li {
        display: block;
        padding: 10px 0;
    }
    #check:checked~ul {
        display: block;
    }
    .featured-products {
        text-align: center;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .fa-bars {
        margin-left: 10px;
    }
    header {
        margin: 0 10px;
    }
    .fa-shopping-cart {
        margin-right: 10px;
    }
    .heading-section {
        margin: 0 10px;
    }
    .one-third {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .logo {
        order: 1;
        margin: 0 auto;
    }
    nav ul {
        display: none;
    }
    .featured-products {
        text-align: left;
    }
    .featured-products img {
        justify-content: center;
    }
    nav ul li {
        display: block;
        padding: 0 10px;
    }
    #check:checked~ul {
        display: block;
        position: absolute;
        background-color: #fff;
        width: 100%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .logo-section,
    header {
        align-items: center;
    }
    .one-third {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .logo-section,
    .heading-section {
        margin: 0 10px;
    }
    .navbar-toggler {
        display: none;
    }
    nav ul {
        order: 0;
        display: block;
    }
    nav ul li {
        display: inline-block;
        padding: 0 10px;
    }
    .logo {
        order: 0;
        margin: 0;
    }
    input,
    label {
        display: none;
    }
    .featured-products {
        text-align: left;
    }
    .featured-products img {
        justify-content: center;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .one-third {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}